[DEFAULT]

transport_url = rabbit://{% for host in groups['controller'] %}openstack:{{ rabbitmq_password }}@{{ hostvars[host]['ansible_default_ipv4']['address'] }}{% if not loop.last %},{% endif %}{% endfor %}

rpc_backend = rabbit

auth_url = {% for host in groups['controller'] %}http://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:5000/v3/{% if not loop.last %},{% endif %}{% endfor %}

control_exchange = trove
root_grant = ALL
root_grant_option = True

log_dir = /var/log/trove/
log_file = logfile.txt

[mysql]
# For mysql, the following are the defaults for backup, and restore:
# backup_strategy = InnoBackupEx
# backup_namespace = trove.guestagent.strategies.backup.mysql_impl
# restore_namespace = trove.guestagent.strategies.restore.mysql_impl
# Default configuration for mysql replication
# replication_strategy = MysqlBinlogReplication
# replication_namespace = trove.guestagent.strategies.replication.mysql_binlog
# replication_user = slave_user
# replication_password = slave_password

# Users to ignore for user create/list/delete operations
ignore_users = os_admin

# Databases to ignore for db create/list/delete operations
ignore_dbs = mysql, information_schema, performance_schema

[redis]
# For redis, the following are the defaults for backup, and restore:
# backup_strategy = RedisBackup
# backup_namespace = trove.guestagent.strategies.backup.experimental.redis_impl
# restore_namespace = trove.guestagent.strategies.restore.experimental.redis_impl

[percona]
#backup_namespace = trove.guestagent.strategies.backup.mysql_impl
#restore_namespace = trove.guestagent.strategies.restore.mysql_impl

[couchbase]
#backup_namespace = trove.guestagent.strategies.backup.experimental.couchbase_impl
#restore_namespace = trove.guestagent.strategies.restore.experimental.couchbase_impl

[cassandra]
#backup_namespace = trove.guestagent.strategies.backup.experimental.cassandra_impl
#restore_namespace = trove.guestagent.strategies.restore.experimental.cassandra_impl
