[DEFAULT]
debug = False
trove_auth_url = {% for host in groups['controller'] %}http://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:5000/v3/{% if not loop.last %},{% endif %}{% endfor %}


# The manager class to use for conductor. (string value)
conductor_manager = trove.conductor.manager.Manager

transport_url = rabbit://{% for host in groups['controller'] %}openstack:{{ rabbitmq_password }}@{{ hostvars[host]['ansible_default_ipv4']['address'] }}{% if not loop.last %},{% endif %}{% endfor %}


rpc_backend = rabbit
control_exchange = trove

[profiler]
#enabled = False
#trace_sqlalchemy = True

[database]
connection = mysql+pymysql://{% for host in groups['controller'] %}trove:{{ trovedb_password }}@{{ hostvars[host]['ansible_default_ipv4']['address'] }}/trove{% if not loop.last %},{% endif %}{% endfor %}

[oslo_messaging_notifications]
#driver =
#transport_url = <None>
#topics = notifications
#retry = -1