[placement_database]
connection = mysql+pymysql://nova:{{ novadb_password }}@{{ internal_vip_address|default(groups['controller'][0]) }}/placement

[api]
auth_strategy = keystone

[keystone_authtoken]
www_authenticate_uri = http://{{ internal_vip_address|default(groups['controller'][0]) }}:5000
auth_url = http://{{ internal_vip_address|default(groups['controller'][0]) }}:5000
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = placement
password = {{ nova_placement_password }}
memcached_servers = {% for host in groups['controller'] %}{{ hostvars[host]['ansible_default_ipv4']['address'] }}:11211{% if not loop.last %},{% endif %}{% endfor %}
